.App{
  text-align: center;
}
.wrapper{
  margin: 5% ;
  display:grid;
  grid-template-columns: 26% 26% 26% 22% ; 
  grid-gap:10px;
  grid-auto-rows: minmax(100px,auto);
  grid-auto-columns: minmax(100px,auto);
}

.sideBar{
  border: 1px solid black;
  grid-column: 4;
  grid-row:1/5;
}